version: '3.8'

services:
  video-downloader:
    build: .
    container_name: video-downloader
    user: 1000:100
    environment:
      - TZ=Europe/Dublin
      - DOWNLOAD_PATH=/downloads
      - CHROME_TIMEOUT=15
      - DEFAULT_QUALITY=1080
      - DISPLAY=:99
    volumes:
      - /volume2/Dockerssd/video-downloader/chrome-data:/home/appuser/.config/google-chrome:rw
      - /volume1/media/downloads:/downloads:rw
      - /dev/shm:/dev/shm
    ports:
      - 5000:5000
      - 6080:6080
    shm_size: 2gb
    restart: unless-stopped